---
const iframeSrc = "/love/index.html";
---
<div class="w-full">
  <iframe
    src={iframeSrc}
    title="Lovable Homepage Preview"
    class="w-full min-h-[1800px] border-0"
    loading="eager"
  ></iframe>
</div>
