---
import Layout from './Layout.astro'
import SiteHeader from '../components/SiteHeader.astro'
import SiteFooter from '../components/SiteFooter.astro'
---
<Layout>
  <SiteHeader />
  <main class="min-h-screen">
    <slot />
  </main>
  <SiteFooter />
</Layout>
